html, body {
  padding: 0;
  margin: 0;
  font-size: 40pt;
  height: 100%;
  width: 100%;
}

body {
}

body {
  font-family: sans-serif;
  background: grey;
  color: white;
}

.requited {
  background-color: #E97D9E;
  scrollbar-color:  #6DC4DA transparent;

}

.unrequited {
  background-color: #6DC4DA;
  scrollbar-color: #E97D9E transparent;
}

.wavy {
  font-size: 100px;
  filter: url(#displacementFilter)
}

#vp {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#you-wont-believe-this {
  box-sizing: border-box;
  white-space: pre;
  height: 94%;
}

#message-box {
  width: 100%;
  padding: 0;
  padding-top: 0.1em;
  padding-left: 0.1em;
  box-sizing: border-box;
}

#write-a-message {
  padding: 0;
  display: block;
  width: 400px;
  max-width: 100%;
}

#message-box-container {
  box-sizing: border-box;
  position: relative;
}

#closer, #message-box {
  background-color: rgba(0, 0, 0, 0.2);
}

#closer, #message, #submitter {
  margin: 0;
  padding: 0;
  border: solid 0px black;
  display: block;
  box-sizing: border-box;
}

#submitter. #message {
  width: 100%;
  font-size: 26pt;
  display: block;
} 

#closer {
  box-sizing: border-box;
  border-radius: 0 0.3em 0 0;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  top: -50pt;
  height: 50pt;
  z-index: 100;
  padding-top: 0.2em;
  padding-right: 0.22em;
  padding-left: 0.22em;
}


#message {
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 36pt;
}

#message {
  resize: none;
}

#submitter {
  padding: 0.1em;
}

.hidden {
  display: none;
}
