html, body {
  padding: 0;
  margin: 0;
  font-size: 40pt;
}

body {
  font-family: sans-serif;
  background: grey;
  color: white;
}

body.unchecked {
  /* cursor: help; */
}

body.requited {
  background-color: #E97D9E;
}

body.unrequited {
  background-color: #6DC4DA;
}

.wavy {
  font-size: 100px;
  filter: url(#displacementFilter)
}

#vp {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#you-wont-believe-this {
  white-space: pre;
  max-height: 99vh;
}

#message-box {
  border: solid 0px black;
  width: 100%;
  padding: 0;
}

#write-a-message {
  padding: 0;
  display: block;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}

#closer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 40pt;
  border-radius: 0.5em 0 0 0;
}

#closer, #message-box {
  background-color: rgba(0, 0, 0, 0.2);
}

#closer, #message, #submitter {
  margin: 0;
  padding: 0;
  border: solid 0px black;
  display: block;
  box-sizing: border-box;
}

#submitter. #message {
  width: 100%;
  font-size: 26pt;
  display: block;
} 

#closer, #message-box {
}

#closer {
  color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  padding-top: 0.5em;
  padding-left: 0.25em;
}


#message {
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 36pt;
}

#message {
  resize: none;
}

#submitter {
  padding: 0.1em;
}

.hidden {
  display: none;
}
